<div class ="jumbotron jumbotron-fluid text-white bg-dark">
  <div class ="container text-center position-relative">
    <h1 class ="display-4">Lukasz Gryczewski</h1>
    <h3 class ="mb-4">Software Engineer</h3>
    <div class ="social-icons">
      <a href="https://www.linkedin.com/in/lukasz-gryczewski-b67018245" target="_blank" class ="">
        <img src="../../assets/pictures/linkedin.png" width="24" height="24" class ="rounded-circle me-2">
      </a>
      <a href="https://github.com/LukaszGryczewski?tab=repositories" target="_blank" class ="">
        <img src="../../assets/pictures/github.png" width="25" height="25" class ="rounded-circle me-2 github-icon">
      </a>
      <a href="mailto:luka.gryczewski@gmail.com" target="_blank" class ="">
        <img src="../../assets/pictures/gmail.png" width="25" height="25" class ="rounded-circle me-2">
      </a>
    </div>
  </div>
</div>
