<div class ="container">
  <h1 class ="text-center">Privacy Policy</h1>
  <p>Welcome to my personal website dedicated to my CV and portfolio. Your privacy is important to me. This page explains the privacy policies in effect on this site.</p>

  <div class ="section-title">1. Collection of Personal Data</div>
  <p>This site does not collect any personal data. I do not request or store any information such as names, email addresses, phone numbers, or postal addresses.</p>

  <div class ="section-title">2. Use of Cookies</div>
  <p>This site does not use cookies to track your activity. No session, tracking, or advertising cookies are used on this site.</p>

  <div class ="section-title">3. Links to Other Websites</div>
  <p>My site may contain links to other websites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the privacy policy of these websites. I have no control over their content, privacy policies, or practices.</p>

  <div class ="section-title">4. Security</div>
  <p>Even though no personal data is collected or stored on this site, I am committed to maintaining a high level of security to protect the site against any form of threat or attack.</p>

  <div class ="section-title">5. Changes to the Privacy Policy</div>
  <p>I may update this privacy policy from time to time. Thus, I advise you to review this page periodically for any changes. Changes will take effect immediately after being posted on this page.</p>

  <div class ="section-title">6. Contact</div>
  <p>If you have any questions or concerns regarding this privacy policy, please feel free to contact me at the following email address: <b>luka.gryczewski&#64;gmail.com</b>.</p>
</div>
