<div class ="container">
  <h1 class="text-center">About</h1>
  <p>Welcome to my personal website, a platform built using Angular 17 (version 17.3.7) and TypeScript 5.4.5. This site is a comprehensive representation of my CV and portfolio, detailing my academic and professional journey, skills, languages spoken, technologies and programs I am proficient in, as well as showcasing all the projects I have completed.</p>

  <div class ="section-title">Site Features:</div>

  <div class ="section-title">1. Detailed CV and Portfolio</div>
  <p>A thorough description of my academic and professional background.</p>
  <p>A showcase of my skills, languages spoken, and technologies and programs I am proficient in.</p>

  <div class ="section-title">2. Portfolio Section</div>
  <p>Displays all the projects I have completed.</p>
  <p>Includes photos, descriptions, GitHub links, and the languages used for each project.</p>

  <div class ="section-title">3. Contact Section</div>
  <p>Provides links to my LinkedIn profile and GitHub repository.</p>
  <p>Includes a link to send me an email.</p>

  <div class ="section-title">4. Privacy Policy</div>
  <p>Contains the site's privacy policy, detailing the handling of personal data and cookies.</p>

  <div class ="section-title">5. About Page</div>
  <p>Describes the site and its functionalities.</p>
</div>
