.btn-view-filter {
  background-color: #f8f9fa; /* Light gray background */
  color: #495057; /* Dark text color */
  font-weight: bold; /* Bold text */
  border: 1px solid #dee2e6; /* Light border */
}

/* Tags */
.tag {
  background-color: #007bff; /* Blue background */
  color: #fff; /* White text */
  border-radius: 20px; /* Rounded corners */
  padding: 5px 10px; /* Inner spacing */
  margin-right: 5px; /* Right margin for spacing between tags */
  text-align: center; /* Center the text */
}

/* Style modifications for selected tags */
.tag.selected {
  background-color: #0056b3; /* Darker blue background */
}
