<div class ="container">
  <div class ="list-group shadow">
    <a href="https://www.linkedin.com/in/lukasz-gryczewski-b67018245" target="_blank" class ="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/pictures/linkedin.png" classe ="rounded-circle flex-shrink-0 me-5" width="32" height="32 ">
      <h3 class ="mb-0">LinkedIn</h3>
    </a>
    <a href="https://github.com/LukaszGryczewski?tab=repositories" target="_blank" class ="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/pictures/github.png" width="32" height="32 " classe ="rounded-circle flex-shrink-0 me-5">
      <h3 class ="mb-0">Github</h3>
    </a>
    <a href="mailto:luka.gryczewski@gmail.com"  class ="list-group-item list-group-item-action d-flex gap-3 py-3 ">
      <img src="../../assets/pictures/gmail.png" width="32" height="32" class="rounded-circle flex-shrink-0 ">
      <div class ="d-flex align-items-center">
        <h3 class ="mb-0">Gmail</h3>
      </div>
    </a>
  </div>
</div>
