<div class ="container mt-4">
  <div class ="row">
    <!-- About me -->
    <div class ="col-lg-6 shadow-sm border rounded p-3 mb-4">
      <div class ="text-center">
        <h1>About me</h1>
        <img src="../../assets/pictures/avatarShirt.png" alt="Lukasz avatar" width="250px" height="250px" class="rounded-circle my-3">
        <p class ="lead" >
          Passionate about Java development, I am in search of an engaging professional opportunity. Highly motivated and ready to
          take on new challenges, I am committed to fully investing my skills and enthusiasm to contribute meaningfully. I am
          determined to excel in a dynamic and innovative professional environment.
        </p>
      </div>
    </div>

    <!-- Feature project -->
    <div class ="col-lg-6 shadow-sm border rounded p-3 mb-4">
      <div class ="text-center">
        <div class ="text-center">
          <h1>Feature Project</h1>
          <h4>{{ projects[currentProjectIndex].name }}</h4>
          <ngb-carousel *ngIf="projects.length > 0" [interval]="3000"> <!-- Définissez le délai ici -->
            <ng-template ngbSlide *ngFor="let project of projects">
              <img class ="d-block w-100" [src]="project.pictures[0]" alt="slide">
            </ng-template>
          </ngb-carousel>

          <h5 class ="mt-3">{{ projects[currentProjectIndex].summary }}</h5>
          <button (click)="navigatePrev()">Previous</button>
          <button (click)="navigateNext()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
